<!-- src/app/pages/user-admin/user-admin.component.html -->
<div class="user-admin">
  <mat-card class="mat-elevation-z2">

    <!-- Barra superior local da página -->
    <div class="card-top">
      <button mat-stroked-button color="primary" type="button" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        Voltar ao EAD
      </button>

      <span class="spacer"></span>

      <form [formGroup]="searchForm" (ngSubmit)="buscar()" class="row quick-search">
        <mat-form-field appearance="outline" class="grow">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="email@dominio.com" />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Buscar</button>
      </form>
    </div>

    <mat-card-header>
      <mat-card-title>Administração de Usuário</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <section *ngIf="user() as u; else vazio">
        <mat-tab-group>
          <mat-tab label="Dados do Usuário">
            <div class="pane">
              <form [formGroup]="editForm" class="col">
                <div class="row">
                  <mat-form-field appearance="outline" class="grow">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="nome" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="grow">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" />
                  </mat-form-field>
                </div>

                <h3>Endereços</h3>
                <div formArrayName="enderecos" class="list">
                  <div class="row" *ngFor="let fg of editEnderecos().controls; let i = index" [formGroupName]="i">
                    <mat-form-field appearance="outline" class="small">
                      <mat-label>ID</mat-label>
                      <input matInput formControlName="id" [readonly]="true" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="grow">
                      <mat-label>Rua</mat-label>
                      <input matInput formControlName="rua" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="small">
                      <mat-label>Número</mat-label>
                      <input matInput type="number" formControlName="numero" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="grow">
                      <mat-label>Complemento</mat-label>
                      <input matInput formControlName="complemento" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="grow">
                      <mat-label>Cidade</mat-label>
                      <input matInput formControlName="cidade" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="small">
                      <mat-label>Estado</mat-label>
                      <input matInput formControlName="estado" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="small">
                      <mat-label>CEP</mat-label>
                      <input matInput formControlName="cep" />
                    </mat-form-field>
                    <button mat-stroked-button color="primary" type="button" (click)="atualizarEndereco(i)">
                      Atualizar endereço
                    </button>
                  </div>
                </div>

                <h3>Telefones</h3>
                <div formArrayName="telefones" class="list">
                  <div class="row" *ngFor="let fg of editTelefones().controls; let i = index" [formGroupName]="i">
                    <mat-form-field appearance="outline" class="small">
                      <mat-label>ID</mat-label>
                      <input matInput formControlName="id" [readonly]="true" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="small">
                      <mat-label>DDD</mat-label>
                      <input matInput formControlName="ddd" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="grow">
                      <mat-label>Número</mat-label>
                      <input matInput formControlName="numero" />
                    </mat-form-field>
                    <button mat-stroked-button color="primary" type="button" (click)="atualizarTelefone(i)">
                      Atualizar telefone
                    </button>
                  </div>
                </div>

                <div class="row end">
                  <button mat-raised-button color="primary" type="button" (click)="salvarUsuario()">Salvar usuário</button>
                  <button mat-button color="warn" type="button" (click)="deletar()">Deletar usuário</button>
                </div>
              </form>
            </div>
          </mat-tab>

          <mat-tab label="Novo Endereço">
            <div class="pane">
              <form [formGroup]="addAddressForm" class="col">
                <div class="row">
                  <mat-form-field appearance="outline" class="grow">
                    <mat-label>Rua</mat-label>
                    <input matInput formControlName="rua" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="small">
                    <mat-label>Número</mat-label>
                    <input matInput type="number" formControlName="numero" />
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field appearance="outline" class="grow">
                    <mat-label>Complemento</mat-label>
                    <input matInput formControlName="complemento" />
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field appearance="outline" class="grow">
                    <mat-label>Cidade</mat-label>
                    <input matInput formControlName="cidade" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="small">
                    <mat-label>Estado</mat-label>
                    <input matInput formControlName="estado" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="small">
                    <mat-label>CEP</mat-label>
                    <input matInput formControlName="cep" />
                  </mat-form-field>
                </div>
                <div class="row end">
                  <button mat-raised-button color="primary" type="button" (click)="adicionarEndereco()">Cadastrar endereço</button>
                </div>
              </form>
            </div>
          </mat-tab>

          <mat-tab label="Novo Telefone">
            <div class="pane">
              <form [formGroup]="addPhoneForm" class="col">
                <div class="row">
                  <mat-form-field appearance="outline" class="small">
                    <mat-label>DDD</mat-label>
                    <input matInput formControlName="ddd" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="grow">
                    <mat-label>Número</mat-label>
                    <input matInput formControlName="numero" />
                  </mat-form-field>
                </div>
                <div class="row end">
                  <button mat-raised-button color="primary" type="button" (click)="adicionarTelefone()">Cadastrar telefone</button>
                </div>
              </form>
            </div>
          </mat-tab>
        </mat-tab-group>
      </section>

      <ng-template #vazio>
        <div class="empty">
          Informe um email e clique em <strong>Buscar</strong> para carregar o usuário.
        </div>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
