<mat-toolbar color="primary" class="topbar">
  <div class="left">
    <button mat-icon-button aria-label="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <img [src]="appLogo" alt="logo" class="logo" />
  </div>

  <span class="spacer"></span>

  <ng-container *ngIf="!isLogged(); else logged">
    <a mat-button routerLink="/login">Login</a>
  </ng-container>

  <ng-template #logged>
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      sair
    </button>
  </ng-template>
</mat-toolbar>
